<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/admin-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginOut</servlet-name>
    <servlet-class>servlet.AdminLoginOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginOut</servlet-name>
    <url-pattern>/AdminLoginOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitDatabase</servlet-name>
    <servlet-class>servlet.InitDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitDatabase</servlet-name>
    <url-pattern>/InitDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitSetting</servlet-name>
    <servlet-class>servlet.InitSetting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitSetting</servlet-name>
    <url-pattern>/InitSetting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Like</servlet-name>
    <servlet-class>servlet.Like</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Like</servlet-name>
    <url-pattern>/Like</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublishDrawing</servlet-name>
    <servlet-class>servlet.PublishDrawing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishDrawing</servlet-name>
    <url-pattern>/PublishDrawing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>servlet.StudentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/student-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentLoginOut</servlet-name>
    <servlet-class>servlet.StudentLoginOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginOut</servlet-name>
    <url-pattern>/StudentLoginOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentRegister</servlet-name>
    <servlet-class>servlet.StudentRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegister</servlet-name>
    <url-pattern>/student-register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Comment</servlet-name>
    <servlet-class>servlet.Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteDrawing</servlet-name>
    <servlet-class>servlet.DeleteDrawing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDrawing</servlet-name>
    <url-pattern>/DeleteDrawing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentDeleteDrawing</servlet-name>
    <servlet-class>servlet.StudentDeleteDrawing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteDrawing</servlet-name>
    <url-pattern>/StudentDeleteDrawing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateDrawingInfo</servlet-name>
    <servlet-class>servlet.UpdateDrawingInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDrawingInfo</servlet-name>
    <url-pattern>/UpdateDrawingInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStudentInfo</servlet-name>
    <servlet-class>servlet.UpdateStudentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentInfo</servlet-name>
    <url-pattern>/UpdateStudentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentUpdateDrawingInfo</servlet-name>
    <servlet-class>servlet.StudentUpdateDrawingInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdateDrawingInfo</servlet-name>
    <url-pattern>/StudentUpdateDrawingInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewAction</servlet-name>
    <servlet-class>servlet.ReviewAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewAction</servlet-name>
    <url-pattern>/ReviewAction</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>servlet.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AdminAuthFilter</filter-name>
    <filter-class>filter.AdminAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminAuthFilter</filter-name>
    <url-pattern>/AdminCenter.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>CharacterEncoding</filter-name>
    <filter-class>filter.CharacterEncoding</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>StudentAuthFilter</filter-name>
    <filter-class>filter.StudentAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudentAuthFilter</filter-name>
    <url-pattern>/StudentCenter.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>DeleteDrawingFilter</filter-name>
    <filter-class>filter.DeleteDrawingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DeleteDrawingFilter</filter-name>
    <url-pattern>/DeleteDrawing</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>